


.item{
    /* border: 12px solid black; */
  /* background-color: white; */
  border-radius: 9px;
  /* width: 150%; */
  margin-bottom: 9px;
  padding: 10px;
  /* border: solid red; */

}

.imga{
    width: 200px;
   height: 220px;
}

.button{
    background-color: rgb(0, 102, 255);
     border: none;
     border-radius: 7px;
     padding: 9px;
     width: fit-content;
     color: white;
}


/* .button-2{
    background-color: orange;
     border: none;
     border-radius: 9px;
     height: 30px;
     margin-right: 75%;
     padding: 9px;
     width: 150px;
} */




.bill{
    display: flex;
    justify-content: space-between;
    width: 30%;
    /* padding: 10px; */
    /* border: solid; */
}

.all-btns{
  display: flex;
  /* justify-content: space-between; */
  /* border: solid 2px red; */
 /* width: 20px; */
  align-items: center;
}

.quantity-btns{
     /* display: flex; */
    margin-left: 4%;
    /* margin-right: 200px;  */
   /* border: solid; */
    /* border: transparent 1px;
    width: 10%;
    align-items: center;
    border: 1px  rgb(0, 102, 255); 
    background-color:  rgb(0, 102, 255);
    justify-content: center;
    border-radius: 9px;
    padding: 10px;
    font-weight: bolder;
    color: white; */
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* width: 35%; */
    /* border: solid rgb(0, 102, 255) ; */
    margin-top: 6%;
    margin-right: 7%;
   margin-bottom: 3%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    /* text-align: left; */
    padding: 15px;
    text-align: center;
  }
  
  .checkout-btn{
    background-color: rgb(0, 102, 255);
     border: none;
     border-radius: 7px;
     /* height: 30px; */
     padding: 9px;
     width: fit-content;
     color: white;
     /* margin-top: 100px; */
  }